@{
    ViewData["Title"] = "Login Page";
}

<Form>

    <div class="fondo-imagen d-flex flex-column gap-4">

        <header>
            <div class="d-flex flex-row flex-wrap align-items-center justify-content-around p-3 font-raleway-class">
                <h2 class="header-responsive">UDLA</h2>
                <div class="fondo-logo-UDLA"></div>
                <h2 class="header-responsive">Grupo 1</h2>
            </div>
        </header>

        <div class="d-flex justify-content-center font-raleway-class">
            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center gap-4 w-50 col-sm-12 col-md-9 p-3 width-responsive">

                <!-- Usuario -->
                <div class="d-flex flex-column w-75 gap-2">
                    <label>Usuario</label>
                    <input type="text" name="username" required id="txt-username" placeholder="Ingrese su usuario." class="form-control"/>

                </div>
                <!-- Contrasenia -->
                <div class="d-flex flex-column w-75 gap-2">
                    <label>Contraseña</label>
                    <input type="password" name="password" required id="txt-password" placeholder="Ingrese su contraseña." class="form-control">
                </div>

                <div class="d-flex flex-column gap-3 w-75">
                    <!-- Button -->
                    <button type="submit" class="btn btn-info">Iniciar Sesión</button>
                    <!-- Create account / Help? -->
                    <div class="d-flex gap-5 justify-content-between text-center">
                        <a href="#" class="text-decoration-none">Crear una cuenta</a>
                        <a href="#" class="text-decoration-none">Necesitas ayuda?</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</Form>

<div class="modal fade font-raleway-class" id="viewProductModal" tabindex="-1" role="dialog" aria-labelledby="viewProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewProductName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideProductModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="viewProductDescription">
                <!--Deberia mostrarse solo cuando hay habido autentificacion-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideProductModal()">Cerrar</button>

            </div>

        </div>
    </div>
</div>

